* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.loggedIn-user {
  position: absolute;
  top: 1.8rem;
  right: 1.2rem;
  z-index: 100;
  font-size: 2rem;
  color: white;
  transition: all .3s ease-in-out;
}

.loggedIn-user:hover {
  color: green;
}

.App {
  text-align: center;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.div-img-background {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.8)), url('./Img/img.jpg') no-repeat center center/cover;
}

.links {
  color: white;
  font-size: 2.5rem;
}

.links:link {
  text-decoration: none;
}

.links:hover {
  font-size: 2.7rem;
  color: blue;
  transition: all .6s ease-in-out;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}